body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 100vh;
    width: 100vw;
}


header{
    display: flex;
    justify-content: center;
    align-content: center;
}
main{
    border:solid 0.1rem;
    margin: 1rem;
}
.container{
    display: flex;
    height: 100px;
    width: 400px;
    justify-content: space-evenly;
    
}
.box{
    height: 20px;
    width: 20px;
    
}
.black{
    background-color: #000000;
}
.yellow{
    background-color: #ffff00;
}
.red{
    background-color: #ff0000;
}

.green{
    background-color: #008000;
}